body {
    font-family: 'Aclonica',sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #352b48;
}
.calender{
    position: relative;
    background: #fff;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 15px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.calender .date{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.calender .date h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
}
.calender .date .days{
    display: flex;
    flex-wrap: wrap;
}
.calender .date .days .day,
.calender .date .days .number{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day:first-child{
    color: #f44336;
    font-weight: 600;
}

.number:nth-child(7n+1){
    color: #f44336;
    font-weight: 600;
}
.active{
    background: #352b48;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.calender .image{
    position: absolute;
    top: 0;
    right:  0;
    width: 400px;
    height: 100%;
    background: #000;
}
.calender .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}